// ==============================
// Custom style
// ==============================

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Noto+Serif+JP&family=Noto+Serif+SC&family=Noto+Serif+TC&family=Fira+Code&display=swap');

$custom-theme-style = #99897c

$custom-theme-global = {
  font-size: 16px,
  body-width: 800px,
  background: #f0f0f0,
  color: #49545f
}


$custom-article-font = 'Noto Serif', 'Noto Serif JP', 'Noto Serif SC' ,'Noto Serif TC'
$custom-code-font = 'Fira Code', monospace
