[mgr]
ratio = [1, 4, 3]

# 排序方式
sort_by = "mtime"
sort_sensitive = false
sort_reverse = true
sort_dir_first = true

show_hidden = true
show_symlink = true
linemode = "size"
mouse_events = ["click", "scroll"]

title_format = "Yazi: {cwd}"

[preview]
wrap = "no"
tab_size = 2
max_width = 1000
max_height = 1000

cache_dir = ""
image_filter = "lanczos3" # 图片缩放算法，质量更高
image_quality = 80        # 预览图质量

[opener]
# --- 打开方式定义 ---

# 1. 编辑器 (你的主力 Neovim)
# block = true 表示 Yazi 会暂停并等待 Nvim 关闭后再恢复
edit = [
    { run = 'nvim "$@"', block = true, desc = "Neovim", for = "unix" },
]

# 2. 系统默认打开 (调用 xdg-open)
# detach = true 表示不阻塞 Yazi，后台打开
open = [
    { run = 'xdg-open "$@"', desc = "Open", detach = true, for = "unix" },
]

# 3. 播放视频/音频 (使用 mpv)
play = [
    { run = 'mpv "$@"', orphan = true, for = "unix" },
]

# 4. 压缩包处理
extract = [
    { run = 'ya pack -e "$@"', desc = "Extract here", for = "unix" },
]

[open]

rules = [
    { name = "*/", use = "edit" },

    { mime = "text/*", use = "edit" },
    { mime = "application/json", use = "edit" },
    { mime = "application/x-sh", use = "edit" },
    { name = "*.lua", use = "edit" },
    { name = "*.toml", use = "edit" },
    { name = "*.rs", use = "edit" },
    { name = "*.java", use = "edit" },
    { name = "*.py", use = "edit" },

    # 图片/视频 -> 用系统默认工具打开 (或者你可以指定用 imv/mpv)
    { mime = "image/*", use = "open" },
    { mime = "video/*", use = "play" },
    { mime = "audio/*", use = "play" },

    # 压缩包 -> 默认系统打开，或者你可以绑定快捷键解压
    { mime = "application/zip", use = "open" },
    { mime = "application/gzip", use = "open" },
    { mime = "application/x-tar", use = "open" },
]

[plugin]
